<div *ngIf="method.response != null" class="far">
  <!--поля ответа на выполнение метода-->
  <div class="main-response-field response-content"
       *ngFor="let responseField of method.response.responseFields">
    {{responseField}}
  </div>
  <!--поле с подробностями запрос/ответ-->
  <div *ngIf="method.response.request != null && method.response.response != null">
    <button md-raised-button (click)="method.learnMore = !method.learnMore">
      Узнать больше
    </button>
    <div *ngIf="method.learnMore == true" class="response response-content">
      <!--запрос-->
      <div class="responseItem">
        <div>Запрос:</div>
        <div>{{method.response.request}}</div>
      </div>
      <!--ответ-->
      <div class="responseItem">
        <div>Ответ:</div>
        <div>{{method.response.response}}</div>
      </div>
    </div>
  </div>
</div>
