.far {
  margin-top: 15px;
}

.width {
  width: 100%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #673AB7;
}

.liner {
  border: solid white;
  border-bottom-color: #FF4081;
  border-width: 2px;
}

.progress-infinit {
  margin-top: 30px;
  width: 100%;
}
